.body{
  background-color: #F5F5F5;
}
.container {
  padding: 20px;
}

.btnStyle {
  border: none;
  background: none;
  color: red;
  cursor: pointer;
}
.btnStyle:hover {
  color: blue;
}
.btn-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#historyA{
  color: black;
  text-decoration: none;
}
.isLesson{
  color: red;
  background-color: red;
}
.btnPlus{
  width: 40px;
  height: 35px;
  color: blue;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content:center ;
  background: none;
  border: 1px dotted blue;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  padding-bottom: 5px;
}


